{%- if cookiecutter.remix.lower() == "yes" -%}
{%- set remix = True %}
{%- else -%}
{%- set remix = False %}
{%- endif -%}
{%- if cookiecutter.original_model_license == "CC-BY-4.0" -%}
{%- set license_title = "Creative Commons (4.0 International License) Attribution" -%}
{%- set license_title_alt = "Creative Commons Attribution 4.0 International License" -%}
{%- set license_url = "http://creativecommons.org/licenses/by/4.0/" -%}
{%- elif cookiecutter.original_model_license == "CC-BY-SA-4.0" -%}
{%- set license_title = "Creative Commons (4.0 International License) Attribution-ShareAlike" -%}
{%- set license_title_alt = "Creative Commons Attribution-ShareAlike 4.0 International License" -%}
{%- set license_url = "http://creativecommons.org/licenses/by-sa/4.0/" -%}
{%- elif cookiecutter.original_model_license == "CC-BY-NC-4.0" -%}
{%- set license_title = "Creative Commons (4.0 International License) Attribution-NonCommercial" -%}
{%- set license_title_alt = "Creative Commons Attribution-NonCommercial 4.0 International License" -%}
{%- set license_url = "http://creativecommons.org/licenses/by-nc/4.0/" -%}
{%- elif cookiecutter.original_model_license == "CC-BY-NC-SA-4.0" -%}
{%- set license_title = "Creative Commons (4.0 International License) Attribution-NonCommercial-ShareAlike" -%}
{%- set license_title_alt = "Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License" -%}
{%- set license_url = "http://creativecommons.org/licenses/by-nc-sa/4.0/" -%}
{%- elif cookiecutter.original_model_license == "CC0-1.0" -%}
{%- set license_title = "Creative Commons CC0 1.0 Universal (Public Domain)" -%}
{%- set license_title_alt = "Creative Commons CC0 1.0 Universal (Public Domain) License" -%}
{%- set license_url = "http://creativecommons.org/publicdomain/zero/1.0/" -%}
{%- endif -%}

{%- block content -%}{%- endblock -%}
